@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
   font-family: "Roboto", sans-serif !important;
}
.gradient-bg {
  background-image: linear-gradient(to left, #D9D9D9 3%, #FAF3DB 47%, #F4F4FF 100%);
}
.form-checkbox{
  padding: 1rem !important;
}
.flight-route {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.icon-line hr {
  border: 0;
  height: 1px;
  background: #6E6E6E;
  width: 180px; 
}


.custom-thumb::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #E5BC3B;
  cursor: pointer;
}

.custom-thumb::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #E5BC3B;
  cursor: pointer;
}
.container {
    max-width: 1220px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}