@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   font-family: "Roboto", sans-serif;
}
.gradient-bg {
  background-image: linear-gradient(to bottom, #D9D9D9 3%, #FAF3DB 47%, #F4F4FF 100%);
}
.form-checkbox{
  padding: 1rem !important;
}
.flight-route {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.icon-line hr {
  border: 0;
  height: 1px;
  background: #6E6E6E;
  width: 180px; 
  /* margin: 0 8px;  */
}